<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
 -->
 <h1 align="center">Welcome to <%= @user.username %>'s page</h1>
 <div class="row">
 	<div class="col-md-4 col-md-4-offset-4 center">
 		<%= gravatar_for @user, size: 150 %>
 	</div>
 </div>
 <h4 align="center"><%= @user.username %>'s listings</h4>
 <%= render 'articles/article', obj: @user.articles %>